@{
    ViewBag.Title = "Bookings";
}

<div>
    <ul>
        <!-- ko foreach: bookings -->
        <li class="mb-2">
            Id: <!-- ko text: id --><!-- /ko -->,
            Booker: <!-- ko text: name --><!-- /ko -->,
            Arriving: <!-- ko text: arrival --><!-- /ko -->,
            Departing: <!-- ko text: departure --><!-- /ko -->,
            Rate / night: €<!-- ko text: rate --><!-- /ko -->,
            Total: €<!-- ko text: getTotal() --><!-- /ko -->,
            Hotel: <!-- ko text: hotelName --><!-- /ko -->,
        </li>
        <!-- /ko -->
    </ul>

    <button class="btn btn-primary" data-toggle="modal" data-target="#addBooking">
        Add a booking
    </button>
</div>

<div id="addBooking" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a booking</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ko with: newBooking -->
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" data-bind="value: name" />
                </div>
                <div class="form-group">
                    <label>Arrival</label>
                    <input type="date" class="form-control" data-bind="value: arrival" />
                </div>
                <div class="form-group">
                    <label>Departure</label>
                    <input type="date" class="form-control" data-bind="value: departure" />
                </div>
                <div class="form-group">
                    <label>Rate</label>
                    <input type="number" class="form-control" data-bind="value: rate" />
                </div>
                <div class="form-group">
                    <label>Rate</label>
                    <select class="form-control" data-bind="value: hotelId">
                        <option value="1">Opportunity Hotel</option>
                        <option value="2">Cozy Resort</option>
                        <option value="3">Vertex Resort</option>
                        <option value="4">Ancient Star Resort</option>
                    </select>
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: function() { saveBooking(newBooking); }" data-dismiss="modal">
                    Save Booking
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        app.getBookings();
    </script>
}