@{
    ViewBag.Title = "Hotels";
}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <span class="badge badge-dark">#1</span> Sample Hotel
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            577 Main Street
        </h6>
        <p class="card-text">
            <div>This hotel was booked 12 times.</div>
            <div>The average rate per booking is €199.99.</div>
            <div>Guests stay 3 nights on average</div>
        </p>
    </div>
</div>

<div class="alert alert-info">
    The hotels grossed a total of €23452.
</div>

<!-- your code here -->

